/* map styles */ 
.map-container {
    height: 80vh;
    width: 80vh;
    overflow: scroll;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: block;
  }
  
  .map-container .map {
    height: auto;
    width: 100%;
  }
  
  .place-grid2 {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 110vh;
    width: 100%;
  }
  
  .place-grid2 .grid {
    height: 100%;
    position: relative;
  }
  
  .map-container .grid-point {
    position: absolute;
  }
  
  .map-container .grid-item {
    width: 100px;
    height: 100px;
    margin: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: none;
    top: -50px;
    left: -40px;
    z-index: 3;
    opacity: 0; 
    border-radius: 10%;
    box-shadow: 2px 2px 25px #AAA;
  }
  
  .map-container .grid-item .location {
    font-size: 10px;
    padding: 8px;
    width: auto;
    font-weight: 400;
  }
  
  .location-pin {
    height: 30px;
    width: auto;
    cursor: pointer;
    display: block;
  }
  
  .grid-point:hover > .grid-item {
    display: block;
    opacity: 1;
  }
  
  .grid-point:hover .location-pin {
    display: none;
  }